.background-image {
    background-image: url('https://i.postimg.cc/13NySjL6/Sky.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenido */
    background-position: center center; /* Centra la imagen vertical y horizontalmente */
  }
  
